{% extends "includes/layout.html" %}

{% block contents %}
<div class="card">
    <div class="card-body">
        <h2>User Details</h2>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Full Name</td>
                <td>: {{user.first_name}} {{user.last_name}}</td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>: {{user.email}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>: {{user.address}}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>: {{user.phone}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}