{% extends "includes/layout.html" %}

{% block contents %}
        <div class="card">
            <div class="card-body">
                 <h2>Home Page</h2>
                            {% include 'includes/flash.html'%}
                <p>
                    {% if session['is_logged_in']%}
                        <p>welcome {{session['full_name']}}</p>
                {% else %}
                    <p>Welcome guest</p>
                    {% endif %}
                </p>
            </div>
        </div>
{% endblock %}
